## this is the skeleton of all pages on our site - it defines the basic structure with our menus, sidebars, etc.
## by naming this file with .htm, it can't be viewed directly (urls.py only allows full .html)

## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.

<%! from base_app import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>

<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>MyStuff</title>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon"  href="/static/base_app/images/favicon.ico">   
    <meta content="/homepage/images/camera_icon_75.png" itemprop="image">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    
    <!-- Bootstrap stuff
    <link rel="stylesheet" href="/static/base_app/styles/bootstrap.css"/>
    <script src="/static/base_app/scripts/bootstrap.js"></script> -->
    <script src="/static/base_app/scripts/jquery.loadmodal.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>


    ## render the css
    ${ static_renderer.get_template_css(request, context)  }
  
  </head>
  <body>


  <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/index/" title="Home"><img src="${ STATIC_URL }homepage/images/camera_icon.png" width="90" /></a>
    <a class="navbar-brand-custom" href="/index/">My Stuff - Digital Life My Way</a>

  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
    <ul class="nav navbar-nav navbar-right">
      
      <li><a href="/"><span class="glyphicon glyphicon-camera"></span></a></li>
      <!--<li><a href="/account/login/">Log In</a></li>
      <li><a href="/account/logout/">Log Out</a></li>-->
      <li><a href="#">Stores</a></li>
      <li><a href="/catalog/search/">Catalog</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact Us<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/phone/">Call</a></li>
          <li><a href="/contact/">Email</a></li>
          <li><a href="http://www.facebook.com">Facebook</a></li>
        </ul>
      </li>
        
    %if request.user.is_anonymous() == True:
      <li>
      <a href='/account/login/'>
      Log In
      </a></li>
<!--     %elif request.user.is_staff == True:
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/manageinventory/">Inventory</a></li>
          <li><a href="/managestores/">Stores</a></li>
          <li><a href="/manageusers/">Users</a></li>
        </ul>
      </li>
  
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">${request.user} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/manageinventory/">Dashboard</a></li>
          <li><a href="/manager/users/${request.user.id}">Edit Profile</a></li>
          <li><a href="/account/logout/">Logout</a></li>
        </ul>

      </li> -->

    %else:
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">${request.user} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/dash/">Dashboard</a></li>

          %if request.user.is_staff == False:
          <li><a href="/account/user/${request.user.id}">Edit Profile</a></li>
          %else:
          <li><a href="/manager/employee/${request.user.id}">Edit Profile</a></li>
          %endif
          <li><a href="/account/logout/">Logout</a></li>
        </ul>

      </li>

    %endif

    </ul>

    
  </div><!-- /.navbar-collapse -->
</nav>

<%block name="top">
%if request.user.is_staff == True:


  <!-- The Manager Nav Bar -->
  <ul class="nav nav-tabs navbar-right">

    <li class="dropdown">
      <a class="btn btn-primary" data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-tags"></span>&nbsp; Inventory <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/manager/searchinventory/"><span class="glyphicon glyphicon-search"></span> Search</a></li>
        <li><a href="/manager/newcatalogitem/"><span class="glyphicon glyphicon-new-window"></span> New Catalog Item</a></li>
        <li><a href="/manager/newinventoryitem/"><span class="glyphicon glyphicon-new-window"></span> New Serialized Item</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="btn btn-success" data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-star"></span> Stores <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/manager/searchstores/"><span class="glyphicon glyphicon-search"></span> Search</a></li>
        <li><a href="/manager/newstore/"><span class="glyphicon glyphicon-new-window"></span> New Store</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="btn btn-danger" data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-user"></span> Users <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href=""><span class="glyphicon glyphicon-search"></span> Search Users</a></li>
        <li><a href="/manager/searchusers/"><span class="glyphicon glyphicon-search"></span> Search Employees</a></li>
        <li><a href="/account/newemployee/"><span class="glyphicon glyphicon-new-window"></span> New Employee</a></li>
      </ul>
    </li>
  </ul>
  <!-- End Nav Bar -->



%endif
</%block>




<%block name="main">
  Site content goes here in sub-templates.
</%block>  

<% %>



<!-- Footer-->

<footer>
      

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li class="title">Home</li>
          <li><a href="/account/login/">Login / Signup</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li class="title">About</li>
          <li><a href="/about/">About Us</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li class="title">Help</li>
          <li><a href="/contact/">Contact Us</a></li>
          <li><a href="/terms/">Terms</a></li>

        </ul>
      </div>

      <div class="col-md-1">
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/"><img src="/static/homepage/images/facebook.png" /></a></li>
          <li><a href="https://plus.google.com/"><img src="/static/homepage/images/google.png" /></a></li>
          <li><a href="https://www.twitter.com/"><img src="/static/homepage/images/twitter.png" /></a></li>
        </ul>
      </div>


    </div>
  </div>

</footer> 
    


  

  
    ## render the JS for this page (placed here at the end because browsers apparently load faster when JS is at the end)
    ${ static_renderer.get_template_js(request, context)  }
  
  </body>
</html>