## this is the skeleton of all pages on our site - it defines the basic structure with our menus, sidebars, etc.
## by naming this file with .htm, it can't be viewed directly (urls.py only allows full .html)
## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.

<%! from base_app import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>

<!DOCTYPE html>
<html>
  <meta charset="UTF-8">

  <head>
    <title>MyStuff Digital Life My Way</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name="description" content="MyStuff Digital Life My Way offers the best digital cameras, film cameras, lenses, accessories, rentals and repairs."></meta>
    <meta name="keywords" content="Camera, film, rental, repair, digital photography, film photography"></meta>

    <link rel="icon" type="image/x-icon"  href="/static/base_app/images/favicon.ico">      
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

  
    ## global files 
    <%! from base_app import global_static %>
    ${ global_static.SITE_WIDE_CSS }
    ${ global_static.SITE_WIDE_JS }

    ## render the css
    ${ static_renderer.get_template_css(request, context)  }

  </head>

  <body>

    <% 
    from base_app.user_util import manager_check, employee_check

    isEmployee = employee_check(request.user)
    isManager = manager_check(request.user)

    %>



     <div id="fb-root"></div>

  <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/index/" title="Home"><img src="/static/homepage/images/camera_icon.png" width="90" /></a>
    <a class="navbar-brand-custom" href="/index/">My Stuff - Digital Life My Way</a>

  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav navbar-right">
      <li>
        <form class="navbar-form navbar-left" role="form" method ="GET" action='/catalog/category/'>
          <div class="form-group">
            <input type="text" name='search' class="form-control" placeholder="Search...">
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>
      </li>
      <!--placing most overhead options in a block prevents managers from seeing unnecessary items-->
      <%block name="shopping_cart_navigation_option"> <% %>

      <li>
        <a id='cart_button' href="#">
          <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp; MY CART

          <% 
          from base_app.user_util import manager_check, employee_check

          isEmployee = employee_check(request.user)
          isManager = manager_check(request.user)

          cart = request.session.get('cart', {})
          rent = request.session.get('rent', {})
          repair = request.session.get('repair', {})
          cart_length = len(cart.keys()) + len(rent.keys()) + len(repair.keys())

          %>

          %if cart_length !=0:
          <span id='cart_length' class="badge alert-custom">${cart_length}</span>
          %endif
        </a>
      </li>
      
      </%block>

    %if request.user.is_anonymous() == True:
      <li>
      <a id='login_button' href='#'>
      LOG IN
      </a></li>

    %else:
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">${request.user.username} <b class="caret"></b></a>
        <ul class="dropdown-menu">
        %if isEmployee == True:
          <li><a href="/manager/dash/"><span class='glyphicon glyphicon-globe'></span>&nbsp; DASHBOARD</a></li>
          <li><a href="/manager/employee/${request.user.id}"><span class='glyphicon glyphicon-edit'></span>&nbsp; EDIT PROFILE</a></li>
        %else:
          <li><a href="/account/myorders/"><span class='glyphicon glyphicon-inbox'></span>&nbsp; MY ORDERS</a></li>
          <li><a href="/index/not_implemented_yet"><span class='glyphicon glyphicon-camera'></span>&nbsp; RENTALS</a></li>
          <li><a href="/account/repairstatus/"><span class='glyphicon glyphicon-wrench'></span>&nbsp; REPAIRS</a></li>
          <li><a href="/account/user/${request.user.id}"><span class='glyphicon glyphicon-edit'></span>&nbsp; EDIT PROFILE</a></li>
        %endif
          <li><a href="/account/logout/"><span class='glyphicon glyphicon-log-out'></span>&nbsp; LOGOUT</a></li>
        </ul>

      </li>

    %endif

    </ul>

    
  </div><!-- /.navbar-collapse -->
</nav>
  

<%block name="top">
</%block>




<%block name="main">
  Site content goes here in sub-templates.
</%block>  

<% %>




<!-- Footer-->

<footer>
      

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li class="title">Home</li>
          <li><a href="/account/newuser/">Signup</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li class="title">About</li>
          <li><a href="/about/">About Us</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li class="title">Help</li>
          <li><a href="/contact/">Contact Us</a></li>
          <li><a href="/terms/">Terms</a></li>

        </ul>
      </div>

      <div class="col-md-1">
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/digitallifemyway"><img src="/static/homepage/images/facebook.png" /></a></li>
          <li><a href="https://plus.google.com/"><img src="/static/homepage/images/google.png" /></a></li>
          <li><a href="https://www.twitter.com/"><img src="/static/homepage/images/twitter.png" /></a></li>
        </ul>
      </div>


    </div>
  </div>

</footer> 
    


  

  
    ## render the JS for this page (placed here at the end because browsers apparently load faster when JS is at the end)
    ${ static_renderer.get_template_js(request, context)  }
  
  </body>
</html>
