 ## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_ajax.htm" />
<%block name="content">
<% %>

%if c != '':
<div class='text-center'>
  <div class="alert alert-success">
    <h3>${c}</h3>
  </div>
</div>
<br/>
%endif

<form class ="form-horizontal" role="form" method ="POST" action='/account/user__password/${user.id}/'>

    %for field in passwordForm:
    
      <div class="form-group">
        <label class="col-sm-4 control-label" for="id_${ field.name }">${ field.label }</label>
          <div class="col-sm-6">
<!--             <ul class='list-inline'>
              <li>${field} </li>
              <li><span class='label label-danger'>${field.errors}</span></li>
            </ul> -->

              ${field}
              ${field.errors}

          </div>
      </div>
      
    %endfor
    ${passwordForm.non_field_errors()}

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <input class="btn btn-success" type="submit" value="Save Changes">
    </div>
  </div>


</form>









        



</%block>