<!DOCTYPE html>
<html>
<body style="margin:25px 50px;">
	<table>
		<tbody>
			<tr>
				<td><img alt="My Stuff" height="75" width="75" src="http://digitallifemyway.com/static/homepage/images/camera_icon_xs.png" /></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><h1 style="font-family:sans-serif;">My Stuff - Digital Life My Way</h1></td>
			</tr>
		</tbody>
	</table>

	<br/>
	<h2 style="font-family:sans-serif;">Forgot Password</h2>

	<p 	style='font-family: sans-serif;'>We recieved a request to reset your password.<br/> 
	You can use the following link to reset it.<br/><br/>
	<a href="${url}" 
	style=
	'
	font-family: sans-serif;
	color:#fff;
	background-color:#5cb85c;
	border-color:#4cae4c;
	text-decoration:none;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	'
	>Reset Password</a><br/><br/>
	For security purposes, this link will only be active for 3 hours.</p>
	<br/>
	<br/>
	Thank You!

</body>
</html>
