## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_ajax.htm" />
<%block name="content">
<% %>
 

<br/>
<div class="container-fluid">

<form class ="form-horizontal" role="form" method ="POST">

  %for f in form:
  %if f.name!='remember':
  <div class="row">
    <div class="form-group">
      <label class="col-md-3 control-label" for="id_${ f.name }">${ f.label }</label>

        <div class="col-md-7">
          ${f} ${f.errors} 
        </div>
    </div>
  </div>
  %endif
  %endfor

  <div class="form-group">
    <label for="inputPassword3" class="col-md-3 control-label"></label>
    <div class="col-md-4">
      <a href="/account/forgotpassword/">Forgot My Password?</a>
    </div>
  </div>

  %for f in form:
  %if f.name=='remember':
    <div class="form-group">
      <div class="col-md-offset-3 col-md-4">
        <div class="checkbox">
          <label>
        ${f} ${f.errors} Remember me
          </label>
         </div>
      </div>
    </div>
  %endif
  %endfor

<br/>
  <div class="form-group">
    <div class="col-md-offset-3 col-md-8">

      <ul class='list-inline'>
        <li><input class="btn btn-primary" type="submit" value="Sign In"></button></li>
        <li><a href="/account/newuser/" class="btn btn-success">Create Account</a></li>
      </ul>

    </div>
  </div>
</form>
  
  
  <div class='row'>
    <div class='col-md-3'>
    </div>
    <div class='col-md-5'>
      ${form.non_field_errors()}
    </div>

  </div>
<div id='here'></div>
<button id='the_button' class='btn btn-default'>Try</button>



</%block>  

<%block name='top'></%block>