## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />

<%block name="content">
<% %>

  <h2>My Rentals</h2><hr/><br/>

%if rentals:
  <table class="table table-hover">
  	<thead>
  		<tr>
  			<th>ID</th>
  			<th>Date Out</th>
        <th>Date Due</th>
  			<th>Returned?</th>
        <th>Status</th>

  		</tr>
  	</thead>
  	<tbody>
  %for s in rentals:
  <%
  if s.isClosed == True:
    isClosed = 'Yes'
  else:
    isClosed = 'No'

  import datetime
  if s.dateDue < datetime.date.today():
    isLate = "Late"
  else:
    isLate = 'On time'
  if isLate == 'Late' and isClosed =="No":
    isLate = "<span class='label label-danger'>Late</span>"
  elif isLate == 'On time' and isClosed == 'No':
    isLate = "<span class='label label-success'>On time</span>"

  %>
    %if s.isClosed==True:
      <tr class='grayed-out'>
        <td>${s.id}</td>
        <td>${s.dateOut}</td>
        <td>${s.dateDue}</td>
        <td>${isClosed}</td>
        <td>${isLate}</td>
      </tr>
    %else:
      <tr>
        <td>${s.id}</td>
        <td>${s.dateOut}</td>
        <td>${s.dateDue}</td>
        <td>${isClosed}</td>
        <td>${isLate}</td>
      </tr>
    %endif
  %endfor
  	</tbody>
</table>

%endif


  <div class="vertical_spacer6"></div>
  <div class="vertical_spacer6"></div>




</%block>  
