## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />

<%block name="content">
<% %>

  <h2>My Repairs</h2><hr/><br/>

%if repairs:
  <table class="table table-hover">
  	<thead>
  		<tr>
  			<th>ID</th>
  			<th>Item</th>
        <th>Date Received</th>
  			<th>Est. Completion</th>
  			<th>Status</th>

  		</tr>
  	</thead>
  	<tbody>
%for s in repairs:
      <tr>
        <td>${s.id}</td>
        <td>${s.itemName}</td>
        <td>${s.dateStart}</td>
        <td>${s.dateComplete}</td>
        <td>${s.status}</td>
      </tr>
%endfor
  	</tbody>
</table>

%else:
  <p>It looks like you don't have any active repairs at this time. If you have any questions contact our repairs department at 1-800-555-5555</p>
  <div class="vertical_spacer6"></div>
  <div class="vertical_spacer6"></div>
%endif


  <div class="vertical_spacer6"></div>
  <div class="vertical_spacer6"></div>




</%block>  
