 ## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_dash.htm" />
<%block name="content">
<% %>


  <h2>New User Account</h2><hr/>
	</br>

  <h1 id='usererror'></h1>

  <form class ="form-horizontal" role="form" method ="POST">

    %for f in form:

    %if f.name == 'street1':
    <h3>Address</h3><hr/>
    %endif


      <div class="form-group">
        <label class="col-sm-4 control-label" for="id_${ f.name }">${ f.label }</label>
          <div class="col-sm-4">
            ${f} ${f.errors}
          </div>
      </div>

    %endfor

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-4">


        <input class="btn btn-success" type="submit" value="Create Account">

      </div>
    </div>
  </form>




</%block>   