## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_template.htm" />
<%block name="main">
<% %>

<div class="content">

<div class="row">
  <div class="col-md-4">
  </div>

%if not error:
  <div class="col-md-4">
  <h2>Reset Password</h2>
  <p>Enter a new password for your account.</p>
  </div>
</div>
<br/>




<form class ="form-horizontal" role="form" method ="POST">



  %for f in form:

    <div class="form-group">
      <label class="col-sm-4 control-label" for="id_${ f.name }">${ f.label }</label>
        <div class="col-sm-4">
          ${f} ${f.errors}
        </div>
    </div>

  %endfor

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">


      <input class="btn btn-success" type="submit" value="Reset">

    </div>
  </div>
</form>

  <div class='row'>
    <div class='col-md-4'>
    </div>
    <div class='col-md-5'>
      ${form.non_field_errors()}
    </div>

  </div>


%else:

<div class="col-md-4">
<h2>Reset Password</h2>
<br/>
<div class="alert alert-danger">${error}</div>
<a href='/account/forgotpassword/' class='btn btn-primary'>Forgot Password</a>
</div>

</div>

<div class="vertical_spacer6"></div>
%endif

<div class="vertical_spacer6"></div>

</div>

</%block>  
