 ## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_users.htm" />
<%block name="content">
<% %>


  <h2> My Account </h2><hr/>


  <div class="row">
    <div class="col-md-2" align="right">
      <label for="inputEmail3">Username: </label>
    </div>
    <div class="col-md-2" align="left">
      <label for="inputEmail3">${user.username} </label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2" align="right">
      <label for="inputEmail3">Name: </label>
    </div>
    <div class="col-md-2" align="left">
      <label for="inputEmail3">${user.first_name} ${user.last_name} </label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2" align="right">
      <label for="inputEmail3">Email: </label>
    </div>
    <div class="col-md-2" align="left">
      <label for="inputEmail3">${user.email}</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2" align="right">
      <label for="inputEmail3">Address: </label>
    </div>
    <div class="col-md-2" align="left">
      <label for="inputEmail3">${user.street1}</label>
    </div>
  </div>
  %if user.street2!='':
  <div class="row">
    <div class="col-md-2" align="right">
    </div>
    <div class="col-md-2" align="left">
      <label for="inputEmail3">${user.street2}</label>
    </div>
  </div>
  %endif

  <div class="row">
    <div class="col-md-2" align="right">
    </div>
    <div class="col-md-2" align="left">
      <label for="inputEmail3">${user.city}, ${user.state} ${user.zipCode}</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2" align="right">
      <label for="inputEmail3">Phone Number: </label>
    </div>
    <div class="col-md-2" align="left">
      <label for="inputEmail3">${user.phone}</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2" align="right">
      <label for="inputEmail3">Security Question: </label>
    </div>
    <div class="col-md-4" align="left">
      <label for="inputEmail3">${user.security_question}</label>
    </div>
  </div>





  <hr/>

  <button class="btn btn-primary" id='password_button'>Change Password</button>
  <button class="btn btn-warning" id='edit_button'>Edit</button>
  <button class="btn btn-danger" data-toggle="modal" data-target="#deleteUser">Delete</button>

  <!--####### DELETE USER MODAL WINDOW ########-->

  <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          Delete Account
        </div>
        <div class="modal-body">
          Are you sure you want to delete this account?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a href="/manager/users/${user.id}/delete" class="btn btn-primary">Yes</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!--####### DELETE USER MODAL WINDOW ########-->



  <div class='vertical_spacer6'></div>







        



</%block>