## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="searchstores.htm" />

<%block name="content">
<% %>

  <h2>Store Management</h2><hr/><br/>

  <table class="table table-hover">
  	<thead>
  		<tr>
  			<th>Store</th>
  			<th>Street 1</th>
        <th>Street 2</th>
  			<th>City</th>
  			<th>State</th>
  			<th>Zip Code</th>
        <th>Phone</th>
  		</tr>
  	</thead>
  	<tbody>
%for s in stores:
      <tr class="clickableRow" href="/manager/stores/${s.id}">
        <td>${s.locationName}</td>
        <td>${s.street1}</td>
        <td>${s.street2}</td>
        <td>${s.city}</td>
        <td>${s.state}</td>
        <td>${s.zipCode}</td>
        <td>${s.phone}</td>
      </tr>
%endfor
  	</tbody>
</table>

  <div class="vertical_spacer6"></div>
  <div class="vertical_spacer6"></div>


  <script>
  jQuery(document).ready(function($) {
        $(".clickableRow").click(function() {
              window.document.location = $(this).attr("href");
        });
  });
  </script>

</%block>  
