## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_template.htm" />

<%block name="main">
<% %>

<div class="content">
  <div class="row">
    <div class="col-md-2">
      <div class="bs-sidebar hidden-print" role="complementary">
        <ul class="nav bs-sidenav">

          <div class="btn-group">
            <button class="btn btn-default btn dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span><span class="lead"> Users</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <ul class="nav nav-pills nav-stacked">
                  <li>
                      <!--User Management-->
                     
                      <a href="/manager/searchusers/"><span class="glyphicon glyphicon-search"></span>
                          <small>Search</small></a>
                      <a href="/account/newemployee/"><span class="glyphicon glyphicon-new-window"></span>
                          <small>New User</small></a>
                      <a href="/manageusers/"><span class="glyphicon glyphicon-home"></span>
                      <small>User Dashboard</small></a>

                      <li class="divider"></li>

                      <!--Overall Menu Items-->
                      
                      <li><a href="/managestores/"><span class="glyphicon glyphicon-search"></span> 
                      <span class="lead"><small>Stores</small></span></a></li>
                      <li><a href="/manageinventory/"><span class="glyphicon glyphicon-tags"></span> 
                      <span class="lead"><small> Inventory</small></span></a></li>
                      <li><a href="/"><span class="glyphicon glyphicon-star"></span>
                          <span class="lead"><small>Dashboard</small></span></a></li>
                  </li>
              </ul>
            </ul>
          </div>

          <br/>
          <br/>


          <li>
          <form class="navbar-form" role="search">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                      <div class="input-group-btn">
                          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                      </div>
                  </div>
                  </form>
          </li>

          <br/>
          <li><p>
            Role
            <select class="form-control">
              <option>All</option>
              <option>Customer</option>
              <option>Employee</option>
              <option>Manager</option>
              <option>Admin</option>
            </select>
          </p></li>
          <li><p>
            Store
            <select class="form-control">
              <option>All</option>
              <option>Sandy</option>
              <option>Provo</option>
              <option>Ogden</option>
            </select>
          </p></li>
        </ul>
      </div>
    </div>
    <div class="col-md-10" role="main">

      <%block name="content">
        Site content goes here in sub-templates.
      </%block>   <% %>
                  
    </div>
    </div>  
    </div>
    </div>
    </div>  
    </div>
  </div>
</%block>