## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_template.htm" />


<%block name="main">
<div class="vertical_spacer6"></div>
<div class="vertical_spacer6"></div>



<div class="background-image">
<div class="custom1">

  <h1>User Management</h1>
  <div class="vertical_spacer6"></div>
  <div class="vertical_spacer6"></div>
  <a href="/manager/searchusers/" class="btn btn-primary btn-lg">Users</a>
  <a href="/account/newemployee/" class="btn btn-success btn-lg">New User</a>
  

</div>
</div>

<div class="vertical_spacer6"></div>
<div class="vertical_spacer6"></div>
<div class="vertical_spacer6"></div>
<div class="vertical_spacer6"></div>
<div class="vertical_spacer6"></div>
</%block>  
