## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />
<!-- could make this more beautiful if desired -->

<%block name="content">
<% %>

  <h2>Checkout Rentals</h2>
  
  <hr>
  
  <div>
  <div class="row">
   <form class="navbar-form navbar-left" role="search">
     <div class="form-group">
       <input type="text" class="form-control" placeholder="Search Members">
     </div>
     <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
     
     <!-- Button trigger modal -->
     <button class="btn btn-info btn" data-toggle="modal" data-target="#myModal">
       New Member
     </button>

     <!-- Modal -->
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             <h4 class="modal-title" id="myModalLabel">New Member</h4>
           </div>
           <div class="modal-body">
             This is where new member information will go and connect to a customer
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary">Create new member account</button>
           </div>
         </div>
       </div>
     </div>
     
   </form>
    </div>
    </div></br>
    <p class="text-center lead">Aaron Nielsen - #A35921</p>
      <div class="container-fluid">

          <table class="table">
            <thead>
              <tr>
                <th>ID</td>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Start Date</th>
                <th>Expire Date</th>
                <th>Trial Membership?</th>
                <th>Holds?</th>
              </tr>
            </thead>
            <tr>
              <td>A35921</td>
              <td>Aaron Nielsen</td>
              <td>(801) 123-4567</td>
              <td>aanielsen@byu.edu</td>
              <td>01/01/14</td>
              <td>01/01/15</td>
              <td>N</td>
              <td>N</td>
            </tr>
          </table>
         </br>
             <p class="text-center lead">Rental Items</p>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</td>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Condition</th>
                  <th>QTY</th>
                  
                  <th>Date Due</th>
                  <th>Value</th>
                  <th>Price/Day</th>
                  
                </tr>
              </thead>
              <tr>
                <td>CAN550</td>
                <td>Canon 550</td>
                <td>Camera</td>
                <td>Good</td>
                <td>1</td>
                
                <td>
                 <div class="input-append date form_datetime">
                     <input size="8" type="text" value="" readonly>
                     <span class="add-on"><i class="icon-th"></i></span>
                 </div>
 
                 <script type="text/javascript">
                     $(".form_datetime").datetimepicker({
                         format: "dd MM yyyy - hh:ii"
                     });
                 </script>
                  
                  
                </td>
                <td>$787.50</td>
                <td>$25.00</td>
              </tr>
              <tr>
                <td>NIK110</td>
                <td>Nikon 110</td>
                <td>Camera</td>
                <td>Used</td>
                <td>1</td>
               
                <td>03/27/2014</td>
                <td>$989.50</td>
                <td>$35.00</td>
              </tr>
              <thead>
                <tr>
                  <th>
                  <a href="#" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-hand-up"></span> Scan New Item</a>
                  </td>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>SUBTOTAL</th>
                  <th>$250.00</th>
                </tr>
              </thead>
            </table>
           
          </div>
      </div>
  <div>
  <div class="row">
   <form class="navbar-form navbar-right" role="search">
     <div class="form-group">
       <a href="#" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span> Cancel</a>
       <a href="#" class="btn btn-sm btn-warning">Email Confirmation <span class="glyphicon glyphicon-send"></span></a>
       
       <a href="#" class="btn btn-sm btn-primary">Reserve Rentals <span class="glyphicon glyphicon-lock"></span></a>
       
     </div>
     
    
     </div>
    
  </div>
  <div class="vertical_spacer6"></div>
  <div class="vertical_spacer6"></div>

</%block>  

