## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_template.htm" />

<%block name="main">

  <div class="content"> 
    <div class="row">
      <div class="container"> 
        <div class="col-md-3">
          <%block name="left_side">
            Site content goes here in sub-templates.
          </%block> 
        </div>
        <div class="col-md-9">
          <%block name="content">
            Site content goes here in sub-templates.
          </%block>
        </div>

      </div>  
    </div>
  </div>
</%block>
