<!--## This is the base page for both the dashboards. Sprouting off of this one will be a manager and an admin page with minute
## differences. What should be on this dashboard template should be included on both pages. Content and left side for this. 

## what can both do?: view/edit personal profile information; view users; view store information; check inventory (will lead to Em's sites); 
## what can an admin do additionally?: edit users; update store information; create store information; 
 
## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list-->
<%inherit file="base.htm" /> <% %>


<%block name="shopping_cart_navigation_option"> <% %></%block> 


<%block name="content"> <% %>
  <h2>Welcome back, ${request.user.first_name} ${request.user.last_name}!</h2></br>
  <p>Use the left-side navigation bar to view connecting pages and options by clicking on each section heading. To view your own account information, log out, or return to your dashboard, use the dropdown menu in the upper right hand corner.</p>

  <div class='vertical_spacer6'></div>
  <div class='vertical_spacer6'></div>
  <div class='vertical_spacer6'></div>
  <div class='vertical_spacer6'></div>
  <div class='vertical_spacer6'></div>
  <div class='vertical_spacer6'></div>
  <div class='vertical_spacer6'></div>
  <div class='vertical_spacer6'></div>

</%block><!--ends content-->
