
<!--## This is the base page for both the dashboards. Sprouting off of this one will be a manager and an admin page with minute
## differences. What should be on this dashboard template should be included on both pages. Content and left side for this. 

## what can both do?: view/edit personal profile information; view users; view store information; check inventory (will lead to Em's sites); 
## what can an admin do additionally?: edit users; update store information; create store information; 
 


## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list-->
<%inherit file="base.htm" />
<div class="row">
  <div class="col-md-3">
<%block name="left_side">
  <p><h3>Manager Options</h3></p>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <h4 class="panel-title">Inventory</h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="list-unstyled">
                  <li><a class='btn btn-default btn-block' href='/manager/searchinventory/'>Search</a></li>
                  <li><a class='btn btn-default btn-block' href='/manager/newcatalogitem'>New Catalog Item</a></li>
                  <li><a class='btn btn-default btn-block' href='/manager/newserializeditem/'>New Serialized Item</a></li>
                </ul>
              </div><!--ends panel body-->
            </div><!--ends collapseOne-->
          </div><!--ends panel default-->
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <h4 class="panel-title">Users</h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="list-unstyled">
                  <li><a class='btn btn-default btn-block' href='/manager/searchusers/'>Search</a></li>
                  <li><a class='btn btn-default btn-block' href='/account/newuser'>New User</a></li>
                  <li><a class='btn btn-default btn-block' href='/account/newemployee/'>New Employee</a></li>
                </ul>
              </div><!--ends panel body-->
            </div><!--ends collapseTwo-->
          </div><!--ends panel default-->
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              <h4 class="panel-title">Stores</h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="list-unstyled">
                  <li><a class='btn btn-default btn-block' href='/manager/searchstores/'>Search</a></li>
                  <li><a class='btn btn-default btn-block' href='/manager/newstore'>New Store</a></li>
                </ul>
              </div><!--ends panel body-->
            </div><!--ends collapseThree-->
          </div><!--ends panel default-->
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              <h4 class="panel-title">Rentals</h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="list-unstyled">
                  <li><a class='btn btn-default btn-block' href='/manager/searchinventory/'>Search</a></li>
                  <li><a class='btn btn-default btn-block' href='/manager/returns/'>Returns</a></li>
                  <li><a class='btn btn-default btn-block' href='/manager/laterentals/'>Late Rentals</a></li>
                </ul>
              </div><!--ends panel body-->
            </div><!--ends collapseFour-->
          </div><!--ends panel default-->
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
              <h4 class="panel-title">Repairs</h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="list-unstyled">
                  <li><a class='btn btn-default btn-block' href='/manager/newrepair/'>New Repairs</a></li>
                  <li><a class='btn btn-default btn-block' href='/manager/repairs/'>Check Out</a></li>
                </ul>
              </div><!--ends panel body-->
            </div><!--ends collapseFive-->
          </div><!--ends panel default-->
        </div><!--ends panel group and accordion-->


</%block> <!--ends left_side-->
</div>
<div class="col-md-9">
        <%block name="content">
          <h2>Welcome back, ${request.user.first_name} ${request.user.last_name}!</h2></br>
          <p>Use the left-side navigation bar to view connecting pages and options by clicking on each section heading. To view your own account information, log out, or return to your dashboard, use the dropdown menu in the upper right hand corner.</p>
        </%block><!--ends content-->
</div>
</div>
