<!DOCTYPE html>
<html>
<body style="margin:25px 50px;">
	<table>
		<tbody>
			<tr>
				<td><img alt="My Stuff" height="75" width="75" src="http://digitallifemyway.com/static/homepage/images/camera_icon_xs.png" /></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><h1 style="font-family:sans-serif;">My Stuff - Digital Life My Way</h1></td>
			</tr>
		</tbody>
	</table>

	<br/>
	<h2 style="font-family:sans-serif;">Late Rental</h2>

	<p 	style='font-family: sans-serif;'>The ${info.item.catalogItem.manufacturer} ${info.item.catalogItem.name} you rented on ${info.rental.dateOut} was due ${info.rental.dateDue}.<br/> 
	A late fee of $ ${info.item.lateFee} per day can be applied for every day past this date. <br/>
	Please return the item to the store nearest you as soon as possible to avoid any further charges.<br/><br/>
	<a href="${url}" 
	style=
	'
	font-family: sans-serif;
	color:#fff;
	background-color: #d9534f;
	border-color: #d43f3a;
	text-decoration:none;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	'
	>Store Locations</a><br/><br/>
	<br/>
	Thank You!

</body>
</html>
