 ## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />
<%block name="content">
<% %>

<h1>${item.manufacturer} ${item.name}</h1><hr>

<!--################# Initializing Tab Names, ETC #################-->

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#Catalog" data-toggle="tab"><strong>Catalog</strong></a>
  </li>
  <li>
    <a href="#inStock" data-toggle="tab"><strong>Serialized</strong></a>
  </li>
  <li>
    <a href="#Rentals" data-toggle="tab"><strong>Rental</strong></a>
  </li>
</ul>

<!--################# TABS #################-->

<div class="tab-content">



  <!--################# RENTAL TAB ##################-->
  <div class="tab-pane" id="Rentals">
    <div class="tab-content">
      <div class="text-center">
        <h3><strong>Rental Inventory</strong></h3>
      </div>
      <hr>

      <!--TABLE-->
      <table class="table table-hover">

        <thead>
          <tr>

            <th>Store Name</th>
            <th>Condition</th>
            <th>Serial Number</th>
            <th>Price/Day</th>
            <th>Replacement Fee</th>
            <th>Late Fee</th>
            <th>Return Date</th>
            <th></th>
            <th></th>

          </tr>



        </thead>

        %for r in rentals:
        <tr onclick="input" data-toggle="modal" href="#rental">
          <td><span class='label label-primary'>${r.store}</span></td>
          <td>${r.condition.condition}</td>
          <td>${r.serialNum}</td>
          <td>${r.pricePerDay}</td>
          <td>${r.replacementFee}</td>
          <td>${r.lateFee}</td>
          <td>${r.created}</td>


        </tr>
        %endfor



      



      </table>

      <div class='vertical_spacer6'></div>
      <div class='vertical_spacer6'></div>
      <div class='vertical_spacer6'></div>
      <div class='vertical_spacer6'></div>
      <div class='vertical_spacer6'></div>
      <div class='vertical_spacer6'></div>
      
      </div>

  	</div><!-- END RENTAL TAB -->

    <!--################# SERIALIZED #################-->
    <div class="tab-pane" id="inStock">
      <div class="tab-content">
        <div class="text-center">
          <h3><strong>Serialized Items</strong></h3>
        </div>

        <hr>


        <table class="table table-hover">
          <thead>
            <th>Store</th>
            <th>Condition</th>
            <th>Serial Number</th>
            <th>List Price</th>
            <th>Cost</th>
            <th>Shelf Location</th>
            <th>Date Received</th>
            <th>Rental Item?</th>


          </thead>
          <tbody>
            <tr>
              <td>          
                <select class="form-control">
                  <option>All</option>
                  %for s in stores_list:
                  <option>${s.locationName}</option>
                  %endfor
                </select>
              </td>
              <td>
                <select class="form-control">
                  <option>All</option>
                  %for c in conditions_list:
                  <option>${c.condition}</option>
                  %endfor
                </select>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <select class="form-control">
                  <option>All</option>
                  <option>December</option>
                  <option>January</option>
                  <option>February</option>
                </select>
              </td>
            </tr>


          %for s in serial:
          <tr id='item_button_${s.id}'>        
            <!-- The serialized items go here! in  a loop -->
            <td><span class='label label-primary'>${s.store}</span></td>
            <td>${s.condition.condition}</td>
            <td>${s.serialNum}</td>
            <td>${s.listPrice}</td>
            <td>${s.cost}</td>
            <td>${s.shelfLocation}</td>
            <td>${s.created}</td>
            %if s.isRental ==True:
            <td>Yes</td>
            %else:
            <td>No</td>
            %endif
          </tr>
          %endfor
          </tbody>

        </table>  
        <div class='text-right'>
          <a href='/manager/newserializeditem/' class='btn btn-primary btn-sm'>Add Items</a>
          
        </div>
      </div>
      <div class='vertical_spacer6'></div>
      <div class='vertical_spacer6'></div>
      <div class='vertical_spacer6'></div>
      <div class='vertical_spacer6'></div>
      <div class='vertical_spacer6'></div>

    </div> <!-- end serialized tab -->

    <!--################# CATALOG #################-->
    <div class="tab-pane active" id="Catalog">
      <div class="tab-content">


        <div class="text-center">
          <h3><strong>Catalog Details</strong></h3>
        </div>
        <hr>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Category</th>
              <th>SKU</th>
              <th>List Price</th>
              <th>Cost</th>
              <th>Commission Rate</th>
              <th>Lead Time</th>


            </tr>
          </thead>

          <tr onclick="input" data-toggle="modal" href="#catalog">

            <td>
              <label>${item.category.subName}</label>
            </td>
            <td>${item.sku}</td>
            <td>$ ${item.listPrice}</td>
            <td>$ ${item.cost}</td>
            <td>${item.commissionRate}</td>
            <td>${item.leadTime}</td>


          </tr>

        </table>

          <!-- Catalog Edit Button and Delete -->
          <div class="modal fade bs-modal-lg" id="catalog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Edit Product Information</h4>
                </div>

                <div class="modal-body">


                  <form class ="form-horizontal" role="form" method ="POST" enctype="multipart/form-data">

                    %for field in form:

                      <div class="form-group">
                        <label class="col-sm-4 control-label" for="id_${ field.name }">${ field.label }</label>
                          <div class="col-sm-8">
                            ${field} ${field.errors}
                            <!-- <input type="text" class="form-control" name="${ field.name }" id="id_${ field.name }"> -->
                          </div>
                      </div>

                    %endfor
                    
                  </div>
                  <div class ="modal-footer">
                    <div class="form-group">
                      <div class="col-sm-offset-7 col-sm-4">
                        <input class="btn btn-success" type="submit" value="Save Changes">
                      </div>
                    </div>
                  </form>

                </div>


              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->  


        <div class='container-fluid'>
          <div class='row'>
            <div class='col-md-6'>
              <br/>
              <h3>Product Description</h3>
              <hr>
              <p>${item.description}</p>


              <br/>
              <h3>Tech Specs</h3>
              <hr/>
              ${item.techSpecs}
            </div>
          </div>
        </div>





        <hr/>
        <br/>
        <button class="btn btn-danger" data-toggle="modal" data-target="#Delete">Archive </button>

        <!-- Modal -->
        <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Catalog Item</h4>
              </div>

              <div class="modal-body">
                <h4>Are you sure you want to delete this item?</h4>  
                <br/>
                You will not be able to undo this action.
              </div>

              <div class="modal-footer">
                <a href='/manager/inventory__delete/${item.id}' class='btn btn-danger'>Delete</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->



      </div>
  	</div>
</div>



</%block>   
