## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_ajax.htm" />
<%block name="content">
<% %>



<form class ="form-horizontal" role="form" method ="POST" action='/manager/item/${s.id}'>
    %for field in form:


      <div class="form-group">
        <label class="col-sm-4 control-label" for="id_${ field.name }">${ field.label }</label>
          <div class="col-sm-6">
            ${field} ${field.errors}
            <!-- <input type="text" class="form-control" name="${ field.name }" id="id_${ field.name }"> -->
          </div>
      </div>

    %endfor

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-4">
        <button id='submit_button' class="btn btn-success" type="submit" >Save Changes</button>
      </div>
    </div>
  </form>



</%block>   


