 ## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
 <%inherit file="base.htm" />
<%block name="content">
<% %>
<%block name="shopping_cart_navigation_option"> <% %></%block> 

  <h2>New Serialized Item</h2><hr/>
	</br>

  <form class ="form-horizontal" role="form" method ="POST">

    %for f in form:

      <div class="form-group">
        <label class="col-sm-3 control-label" for="id_${ f.name }">${ f.label }</label>
          <div class="col-sm-6">
            ${f} 
            ${f.errors}
          </div>
      </div>

    %endfor

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6">
        <input class="btn btn-success" type="submit" value="Save">
      </div>
    </div>
  </form>

<div class='vertical_spacer6'></div>


</%block>   