## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />
<!-- could make this more beautiful if desired -->



<%block name="content">
  
  <h2>Rental Returns</h2>
  
  <hr>
  

    <p class="text-center lead">Rental Items</p>
      <div class="container-fluid">
        
        <div class="table-responsive">
          <table class="table">
          <thead>
            <tr>
              <th>T - ID</td>
              <th>ID</td>
              <th>Name</th>
              <th>QTY</th>
              <th>Price/Day</th>
              <th>Value</th>
              <th>Date Due</th>
              <th>Date In</th>
              <th>Duration</th>
              
              <th>Late Fees</th>
              <th>Waived Fees</th>
              <th>TOTAL</th>
            </tr>
          </thead>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>Canon 550</td>
            <td>1</td>
            <td>$25.00</td>
            <td>$787.50</td>
            
            <td>03/22/2014</td>
            <td>03/25/2014</td>
            <td>4d20h30min</td>
            <td>$85.00</td>
            <td>$ ~ </td>
            <td>$161.50</td>
          </tr>
          <tr>
            <td>1</td>
            <td>3</td>
            <td>Nikon 110</td>
            <td>1</td>
            <td>$30.00</td>
            <td>$999.00</td>
            
            <td>03/25/2014</td>
            <td>03/25/2014</td>
            <td>4d20h30min</td>
            <td>~</td>
            <td>$ ~ </td>
            <td>$150.00</td>
          </tr>
          <thead>
            <tr>
              <th> 
                
                <!-- Button trigger modal -->
                <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
                  <span class="glyphicon glyphicon-hand-up"></span> Scan Rentals
                </button>
                
              </td>
              <th></th>
              
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>SUBTOTAL</th>
              <th>$311.50</th>
            </tr>
          </thead>
        </table>
       

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Checkout Rental Items </h4>
              </div>
              <div class="modal-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</td>
                      <th>Name</th>
                      <th>Condition</th>
                 
                      
                    </tr>
                  </thead>
                  <tr>
                    <td>CAN550</td>
                    <td>Canon 550</td>
                    <td>Good</td>
                   
                    
                  </tr>
                  <tr>
                    <td>NIK110</td>
                    <td>Nikon 110</td>
                    <td>Used</td>
                   
                  </tr>
                 
                  
                    
                </table>
                <button type="button" class="btn btn-info btn btn-block">Scan Rental</button>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="#" class="btn btn btn-warning">Cancel</a>
                <button type="button" class="btn btn-success">Save</button>
              </div>
            </div>
          </div>
        </div>
        
        
  <div>
  <div class="row">
   <form class="navbar-form navbar-right" role="search">
     <div class="form-group">
      
       <a href="#" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-usd"></span> Waive Late Fees</a>
       <a href="#" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-thumbs-down"></span> Report Damage</a>
       <a href="#" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-star"></span> Accept Payment</a>
       <a href="#" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-send"></span> Email Receipt </a>
       
      
     <!-- Modal -->
     
         
     </div>
     
   </form>
    </div>
    </div></br>
          
         </br>
             <p class="text-center lead">Aaron Nielsen - #A35921</p>
         
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</td>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Start Date</th>
                    <th>Expire Date</th>
                    <th>Trial Membership?</th>
                    <th>Holds?</th>
                  </tr>
                </thead>
                <tr>
                  <td>A35921</td>
                  <td>Aaron Nielsen</td>
                  <td>(801) 123-4567</td>
                  <td>aanielsen@byu.edu</td>
                  <td>01/01/14</td>
                  <td>01/01/15</td>
                  <td>N</td>
                  <td>N</td>
                </tr>
              </table>
           
          </div>
      </div>
  <div>
  <div class="row">
   <form class="navbar-form navbar-right" role="search">
     <div class="form-group">
       
       <a href="#" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-remove"></span> Place Hold</a>
       
      
       
     </div>
     
    
     </div>
    
  </div>
  <div class="vertical_spacer6"></div>
  <div class="vertical_spacer6"></div>

</%block>  

