## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />

<%block name="content">
<% %>
  <h2>User Management</h2>
  <hr/>
  <br/>

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#Employee" data-toggle="tab"><strong>Employees</strong></a>
    </li>
    <li>
      <a href="#User" data-toggle="tab"><strong>Users</strong></a>
    </li>
  </ul>


  <div class="tab-content">

    <div class="tab-pane active" id="Employee"><!-- Employee Tab -->
      <div class="tab-content">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Role</th>
              <th>Username</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
        %for u in emps:
            <tr class="clickableRow" href="/manager/employee/${u.user.id}">
              %if u.user.is_superuser==True:
              <td><span class="label label-info">Admin</span></td>
              %elif u.user.is_staff==True:
              <td><span class="label label-success">Manager</span></td>
              %else:
              <td><span class="label label-danger">Employee</span></td>
              %endif
              <td>${u.user.username}</td>
              <td>${u.user.first_name}</td>
              <td>${u.user.last_name}</td>
              <td>${u.user.email}</td>
            </tr>
        %endfor
          </tbody>
        </table>
      </div>
    </div><!--  End Employee Tab -->

    <div class="tab-pane" id="User"><!-- User Tab -->
      <div class="tab-content">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Username</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
        %for u in user_list:
            <tr class="clickableRow" href="/account/user/${u.id}">
              <td>${u.username}</td>
              <td>${u.first_name}</td>
              <td>${u.last_name}</td>
              <td>${u.email}</td>
            </tr>
        %endfor
          </tbody>
        </table>
      </div>
    </div><!--  End User Tab -->






  

  <div class="vertical_spacer6"></div>
  <div class="vertical_spacer6"></div>



</%block>  
