## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="searchinventory.htm" />

<%block name="content">
<% %>


  <h2>Inventory Management</h2><hr/><br/>

  <table class="table table-hover">
  	<thead>
  		<tr>
  			<th>SKU</th>
        <th>Manufacturer</th>
        <th>Name</th>
  			<th>List Prices</th>
        <th>Cost</th>
  			<th>Category</th>
  		</tr>
  	</thead>
  	<tbody>
%for i in catItems:
      <tr class="clickableRow" href="/manager/inventory/${i.id}">
        <td>${i.sku}</td>
        <td>${i.manufacturer}</td>
        <td>${i.name}</td>
        <td>$ ${i.listPrice}</td>        
        <td>$ ${i.cost}</td>
        <td>${i.categoryID.categoryName}</td>
      </tr>
%endfor
  	</tbody>
  </table>

  <div class="vertical_spacer6"></div>
  <div class="vertical_spacer6"></div>


  <script>
  jQuery(document).ready(function($) {
        $(".clickableRow").click(function() {
              window.document.location = $(this).attr("href");
        });
  });
  </script>

</%block>  
