## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />
<%block name="content">

<% %>
<div class='content'>

	<div class="media">

	  <p class="lead"><strong>${urlStore.locationName}, ${urlStore.state}</strong>
	    <br/>
	    <small>Manager: ${urlStore.manager.user.first_name} ${urlStore.manager.user.last_name}</small>
	    <br/>
	    <small>Store: ${urlStore.id}</small>
	  </p>
	  <hr/>
	  <img class="media-object" src="${ STATIC_URL}manager/images/Provo_store.png" alt='Provo'>
	  <hr/>	
	</div>
	<div class="media-body">	
	
	
	

	<address>
		<strong>MyStuff, Inc.</strong><br>
		${urlStore.street1}<br>
		%if urlStore.street2 != '':
		${urlStore.street2}<br>
		%endif
		${urlStore.city}, ${urlStore.state} ${urlStore.zipCode}<br>
	</address>
	</div>


	<button class="btn btn-success btn" data-toggle="modal" data-target="#InventoryModal">View Inventory</button>

		<!-- Modal -->
		<div class="modal fade" id="InventoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">

		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Inventory - ${urlStore.locationName}</h4>
		      </div>

		      <div class="modal-body">
		      	<table class='table table-hover'>
		      		<thead>
		      			<th>Name</th>
		      			<th>List Price</th>
		      			<th>QTY</th>
		      		</thead>
		      		<tbody>
		      			%for i in items:
		      			<tr>
		      				<td>${i.catalogItem.manufacturer} ${i.catalogItem.name}</td>
		      				<td>${i.catalogItem.listPrice}</td>
		      				<td>${i.cost}</td>

		      			</tr>
		      			%endfor
		      		</tbody>
		      	</table>
		      </div>

		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary">New Catalog Item</button>
		        <button type="button" class="btn btn-warning">New Serialized Item</button>
		        <button type="button" class="btn btn-danger">Inventory Management</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>		
		      </div>

		    </div>
		    <!-- /.modal-content -->
		  </div>
		  <!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->	




	<button class="btn btn-warning btn" data-toggle="modal" data-target="#Edit">Edit</button>


		<!-- Modal -->
		<div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">

		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Edit Store Information</h4>
		      </div>

		      <div class="modal-body">


			      <form class ="form-horizontal" role="form" method ="POST">

			        %for field in form:

			          <div class="form-group">
			            <label class="col-sm-4 control-label" for="id_${ field.name }">${ field.label }</label>
			              <div class="col-sm-4">
			              	${field} ${field.errors}
			                <!-- <input type="text" class="form-control" name="${ field.name }" id="id_${ field.name }"> -->
			              </div>
			          </div>

			        %endfor



		      </div>
		      <div class='modal-footer'>
		      	  <div class="form-group">
		      	    <div class="col-sm-offset-4 col-sm-4">
		      	      <input class="btn btn-success" type="submit" value="Save Changes">
		      	    </div>
		      	  </div>
		      	</form>
		      </div>

		    </div>
		    <!-- /.modal-content -->
		  </div>
		  <!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->	


	<button class="btn btn-danger" data-toggle="modal" data-target="#Delete">Delete</button>

	<!-- Modal -->
	<div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Delete Store</h4>
	      </div>

	      <div class="modal-body">
		      <h3>Are you sure you want to delete this store? 
		      <br/>
		      You will not be able to undo this action.</h3>
	      </div>

	      <div class="modal-footer">
	      	<a href="/manager/stores/${urlStore.id}/delete" class="btn btn-success">Yes</a>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	    <!-- /.modal-content -->
	  </div>
	  <!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<div class="vertical_spacer6"></div>
	<div class="vertical_spacer6"></div>



</div>




	<script>
        $(function () {
        $('#myTab a:last').tab('show')
    	})
      jQuery(document).ready(function($) {
    	$(".clickableRow").click(function() {
            window.document.location = $(this).attr("href");
        });
     
    </script>
</%block>   
