
footer{
	background-color:#f5f5f5;
	color:Black;
	font-size: 15px;
	font-weight: bold;
	margin-top:20px;
	padding-top:30px;
	position: relative;
	bottom: 0;
	width: 100%;

	/*
	border-top: solid;
	border-color: #dfdfdf;
	border-width: 1px;
	*/
}
footer li.title{
	padding-bottom: 10px;
	color:#333;
	font-size: 150%;
}

div.vertical_spacer6{
  height: 72px;
}

.navbar-brand-custom {
  font-family:Poiret One;
  color:#333;
  font-weight: bold;
  float: left;
  padding: 15px 15px;
  font-size: 40px;
  line-height: 90px;
}

.navbar-brand-custom:hover {
	color:#333;
	text-decoration: none;
}
.navbar-brand-custom:focus {
  text-decoration: none;
}

.content{
	margin: 4%;
}


.carousel-inner > .item > img { 
	margin: 0 auto; 
}

table tr td a {
    display:block;
    height:100%;
    width:100%;
}

