## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_ajax.htm" />

<%block name="content">
<% %>
%if cart_all:

	%for c in cart_all.cartItem_list:
		%if c.error !='':
			<div class='alert alert-danger'>${c.error}</div>
		%endif
	%endfor

	%if cart_all.cartItem_list:
	<table class='table table-striped'>
		<thead>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			<!-- Shopping Cart Items -->
			%for c in cart_all.cartItem_list:

			<tr>
				<td>${c.item.manufacturer} ${c.item.name}</td>
				<td>${c.item.listPrice}</td>
			<form role="form" method='POST' action='/catalog/cart/${c.item.id}'>
				<td class='input'><input class='form-control' type='number' name='qty' value='${c.qty}'></td>
				<td>
					<button type='submit' class='btn btn-primary btn-sm'>Update</button>
				</td>
			</form>
				<td><a href='/catalog/cart__delete/${c.item.id}'><button class='btn btn-danger btn-sm'><span class='glyphicon glyphicon-remove'></span></button></a></td>
			</tr>

			%endfor
			<tr>
			<!-- 	<td>&nbsp;</td> -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>

			</tr>
			<tr>

				<td></td>
				<td><strong>Subtotal:</strong></td>
				<td>$</td>
				<td>${cart_all.extended_sum}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<br/>
	%endif

	%if cart_all.rentalItem_list:
	<h3>Rentals</h3>
	<table class='table table-striped'>
		<thead>
			<th>Name</th>
			<th>Price/Day</th>
			<th></th>
		</thead>
		<tbody>
			<!-- Rental Items -->
			%for c in cart_all.rentalItem_list:
			<tr>
				<td>${c.item.catalogItem.manufacturer} ${c.item.catalogItem.name}</td>
				<td>${c.item.pricePerDay}</td>
				<td><a href='/catalog/cart__delete/${c.item.id}/rental/'><button class='btn btn-danger btn-sm'><span class='glyphicon glyphicon-remove'></span></button></a></td>
			</tr>
			%endfor
		</tbody>
	</table>
	<br/>
	%endif

	%if cart_all.repairItem_list:
	<h3>Repairs</h3>
	<table class='table table-striped'>
		<thead>
			<th>Name</th>
			<th>Est. Complete</th>
			<th></th>
		</thead>
		<tbody>
			<!-- Repair Items -->
			%for c in cart_all.repairItem_list:
			<tr>
				<td>${c.repair.user.first_name} ${c.repair.user.last_name}</td>
				<td>${c.repair.estComplete}</td>
				<td><a href='/catalog/cart__delete/${c.repair.id}/repair/'><button class='btn btn-danger btn-sm'><span class='glyphicon glyphicon-remove'></span></button></a></td>
			</tr>
			%endfor
		</tbody>
	</table>
	<br/>
	%endif
	

	<a href='/catalog/checkout/' class='btn btn-primary'>Checkout</a>

%else:
	There are no items in your shopping cart. Check out our catalog to find the hottest new items.
	<br/>
	<br/>
	<a href="/catalog/category/" class='btn btn-primary'>Go to Catalog</a>

%endif

</%block>  
