<!DOCTYPE html>
<html>
<body style="margin:25px 50px;">
	<table>
		<tbody>
			<tr>
				<td><img alt="My Stuff" height="75" width="75" src="http://digitallifemyway.com/static/homepage/images/camera_icon_xs.png" /></td>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><h1 style="font-family:sans-serif;">My Stuff - Digital Life My Way</h1></td>
			</tr>
		</tbody>
	</table>
	<br/>
	<h2 style="font-family:sans-serif;">MyStuff - Digital Life My Way</h2>

	<p 	style='font-family: sans-serif;'>
  <strong>Hello ${user.first_name}, </strong>
  Thank you for shopping with us. We'd like to let you know that MyStuff has received your order, and is preparing it for shipment. Your estimated delivery date is below. If you would like to view the status of your order or make any changes to it, please visit Your Orders on http://www.digitallifemyway.com
  </br>
  </br>
  <hr/>
  <div style='font-family: sans-serif;' class="well-sm">
    <p class="lead">Your estimated delivery date is: </p>
    <p class="lead">Your shipping speed: </p>
    <p class ="lead">Your order will be sent to: </p>
      Name, and Address
  
  
  
  
  
  
  
    <a href="#" class="btn btn-sm btn-default">Order Details <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
  </div>
  
  
  
  <em>To learn more about ordering, go to <a href="#">Ordering from Digitallifemyway.com</a>. If you want more information or need more assistance, go to <a href="#">Help</a>.
  
    
    Thank you for shopping with us. 
    <strong>MyStuff - Digitallifemyway.com</strong>
    
    
    
  <br/><br/>
	<a href="${url}" 
	style=
	'
	font-family: sans-serif;
	color:#fff;
	background-color:#5cb85c;
	border-color:#4cae4c;
	text-decoration:none;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	'
	>Reset Password</a><br/><br/>
	For security purposes, this link will only be active for 3 hours.</p>
	<br/>
	<br/>
	Thank You!

</body>
</html>