 ## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />
<%block name="content">
<% %>



<h1>${item.manufacturer} ${item.name}</h1><hr>

      <div class="tab-content">
        <div class="text-center">
          <h3><strong>Details</strong></h3>
          <hr>
          <ul class='list-inline'>
            <li>
              <!--####### Need to store image path in database as string for dynamic lookup -->
              <img id='img' title="Double click to zoom" src='${item.img}' width='300px'/>
            </li>
            <li>
              <ul class='list-unstyled'>
                <li>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Category</th>
                        <th>SKU</th>
                        <th>List Price</th>
                      </tr>
                    </thead>
                    <tr>
                      <td>
                        <label>${item.category.subName}</label>
                      </td>
                      <td>${item.sku}</td>
                      <td>$ ${item.listPrice}</td>
                    </tr>
                  </table>
                </li>
                <li>
                  &nbsp;
                </li>

                <li>
                  <form class='form-horizontal' role='form' method='POST'>
                    <ul class='list-inline'>
                      %for f in form:
                      <li>
                        <strong>${f.label}</strong>
                      </li>
                      <li>
                        ${f}
                      </li>
                      %endfor
                      <li>
                        <a>
                          %if item_count == 0 and item.isSerial == True:
                            <button id='add_button_disabled' class='btn btn-danger disabled'><span class='glyphicon glyphicon-ban-circle'></span>&nbsp; Out of Stock</button>
                          %else:
                            <button id='add_button' class='btn btn-primary' type='submit'><span class='glyphicon glyphicon-shopping-cart'></span>&nbsp; Add to Cart</button>
                          %endif
                        </a>
                      </li>
                    </ul>
                  </form>
                </li>
                <li>
                  &nbsp;
                </li>
                <ul class='list list-inline'>
                  <li> <!-- #FixLater : Check if isSerial == false set it so its always in stock -->
                    %if item_count != 0:
                      <span class='label label-success'>In Stock.</span>
                    %else:
                    
                    %endif
                  </li>
                  <li> <!-- #FixLater : Check if isSerial == false and dont show this if it does -->
                    %if item.isSerial == True:
                    %if rental_count == 0:
                    <span class='label label-danger'>No Rentals Available.</span>
                    %else:
                    <span class='label label-warning'>Rent Now.</span>
                    %endif
                    %endif
                  </li>
                </ul>

              </ul>
            </li>
          </ul>
      </div>

        <br/>
        <h3>Product Description</h3>
        <hr>
        <p>${item.description}</p>

        <br/>
        <h3>Tech Specs</h3>
        <hr/>
        ${item.techSpecs}
        <hr>

      </div>
</div>



</%block>   


  