 ## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />
<%block name="content">
<% %>



<h1>${item.manufacturer} ${item.name}</h1><hr>

      <div class="tab-content">
        <div class="text-center">
          <h3><strong>Details</strong></h3>
          <hr>
          <ul class='list-inline'>
            <li>
              <!--####### Need to store image path in database as string for dynamic lookup -->
              <img id='img' src='${item.img}' width='300px'/>
            </li>
            <li>
              <ul class='list-unstyled'>
                <li>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Category</th>
                        <th>SKU</th>
                        <th>List Price</th>
                      </tr>
                    </thead>
                    <tr>
                      <td>
                        <label>${item.category.subName}</label>
                      </td>
                      <td>${item.sku}</td>
                      <td>$ ${item.listPrice}</td>
                    </tr>
                  </table>
                </li>
                <li>
                  &nbsp;
                </li>

                <li>
                  <form class='form-horizontal' role='form' method='POST'>
                    <ul class='list-inline'>
                      %for f in form:
                      <li>
                        <strong>${f.label}</strong>
                      </li>
                      <li>
                        ${f}
                      </li>
                      %endfor
                      <li>
                        <a id='cart2'>
                        <button id='add_button' class='btn btn-primary' type='submit'><span class='glyphicon glyphicon-shopping-cart'></span>&nbsp; Add to Cart</button>
                        </a>
                      </li>
                    </ul>
                  </form>
                </li>
              </ul>
            </li>
          </ul>
      </div>

        <br/>
        <h3>Product Description</h3>
        <hr>
        <p>${item.description}</p>

        <br/>
        <h3>Tech Specs</h3>
        <hr/>
        ${item.techSpecs}
        <hr>

      </div>
</div>



</%block>   


<%block name="left_side">
<% %>
<a id='back_button' class='btn btn-default btn-small'><span class='glyphicon glyphicon-arrow-left'></span>&nbsp;Back</a>
</%block>   