				<div class="col-md-9">

					
					<form class ="form-horizontal" role="form" method ="POST">
						<ul class='list-unstyled'>
					<!--   Loop through the fields of the form -->
					<% bSide = True
					%>
					  %for f in form:
						
					  	%if bSide:
					  	<li>
					  	<ul class='list-inline'>
						<li>
					    <div class="form-group">
					      <label class="col-sm-5 control-label" for="id_${ f.name }">${ f.label }</label> <!-- the label -->
					        <div class="col-sm-7">
					          ${f} <!-- The input box -->
					          ${f.errors}
					        </div>
					    </div>
						</li>

						%else:
						<li>
					    <div class="form-group">
					      <label class="col-sm-5 control-label" for="id_${ f.name }">${ f.label }</label> <!-- the label -->
					        <div class="col-sm-7">
					          ${f} <!-- The input box -->
					          ${f.errors}
					        </div>
					    </div>
						</li>
						</ul>
						</li>
					    %endif
						
						<% 
						print(bSide)
						bSide = not bSide
						print(bSide)
						print('--------------')
						%>
					  %endfor
						</ul>
					  <div class="form-group">
					    <div class="col-sm-offset-4 col-sm-4">
					      <input class="btn btn-success" type="submit" value="Save">
					    </div>
					  </div>
					</form>



			</div>









				<div class="col-md-9">

					
				<div class='container-fluid'>
					<form class ="form-horizontal" role="form" method ="POST">
					<!--   Loop through the fields of the form -->
					<% bSide = True
					%>
					  %for f in form:

					  	%if bSide:
					  	<div class='row'>

					    <div class="form-group">
					      <label class="col-sm-2 control-label" for="id_${ f.name }">${ f.label }</label> <!-- the label -->
					        <div class="col-sm-3">
					          ${f} <!-- The input box -->
					          ${f.errors}
					        </div>
					    </div>

						%else:
					    <div class="form-group">
					      <label class="col-sm-offset-5 col-sm-2 control-label" for="id_${ f.name }">${ f.label }</label> <!-- the label -->
					        <div class="col-sm-3">
					          ${f} <!-- The input box -->
					          ${f.errors}
					        </div>
					    </div>
					    %endif
						
						<% 
						print(bSide)
						bSide = not bSide
						print(bSide)
						print('--------------')
						%>
					  %endfor
						</div>
					  <div class="form-group">
					    <div class="col-sm-offset-4 col-sm-4">
					      <input class="btn btn-success" type="submit" value="Save">
					    </div>
					  </div>
					</form>

				</div>
				
			</div>

