## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />


<%block name = "main">
<% %>
<div class="container">
  %if isWalkin == True:
  <h1>Thank you!</h1>
  </br>
  %else:
  <h1>Thank you for your Order, ${t.user.first_name} ${t.user.last_name}!</h1>
  </br>
  %endif

  <div class="row">
    <div class="col-md-4">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Billing Address</h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <table>
              	<tbody>
	                <tr>
	                  <td><strong>${t.billing.first_name} ${t.billing.last_name}</strong></td>
	                </tr>
					<tr>
						<td>${t.billing.street1}</td>
					</tr>
					<tr>
						<td>${t.billing.street2}</td>
					</tr>
					<tr>
						<td>${t.billing.city}, ${t.billing.state} ${t.billing.zipCode}</td>
					</tr>
					<tr>
						<td>${t.billing.phone}</td>
					</tr>
					<tr>
						<td>${t.billing.email}</td>
					</tr>
				</tbody>
              </table>          
            </div> <!--ends of panel body Billing container-->
          </div>
        </div>
        <!-- end of panel, panel-default -->

        %if showShip == True:
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Shipping Address</h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
              <table>
              	<tbody>
	                <tr>
	                  <td><strong>${t.shipping.first_name} ${t.shipping.last_name}</strong></td>
	                </tr>
					<tr>
						<td>${t.shipping.street1}</td>
					</tr>
					<tr>
						<td>${t.shipping.street2}</td>
					</tr>
					<tr>
						<td>${t.shipping.city}, ${t.shipping.state} ${t.shipping.zipCode}</td>
					</tr>
					<tr>
						<td>${t.shipping.phone}</td>
					</tr>
					<tr>
						<td>${t.shipping.email}</td>
					</tr>
				</tbody>
              </table>  
            </div><!--ends Shipping container-->
          </div>
        </div>
        <!-- end of panel, panel-default -->


        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Shipping Method</h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse in">
            <div class="panel-body">
                <span class="label label-success">Standard</span> 3 - 4 day shipping ($8.00)
                <br/>    
          	</div>
          </div>
        </div>
        <!-- end of panel, panel-default -->
        %endif

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Payment Information</h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse in">
            <div class="panel-body">
              <table>
                <tr>
                  <td>
                    <label for="OrderNum">Transaction ID:</label>
                    <label for="OrderNum">${t.id}</label>
                  </td>

                </tr>
                <tr>
                  <td>
                    <label for="CardNumber">Card Ending In:</label>
                    <label for="CardNumber">XXXX-XXXX-XXXX-0654</label>
                  </td>
                </tr>

                <tr>
                  <td>
                    <label for="ExpMonth">Expiration:</label>
                    <label for="ExpMonth">10/2014</label>
                  </td>

                </tr>
              </table>	  
            </div>
          </div>
        </div>
        <!-- end of panel, panel-default -->
      </div>
      <!--end accordion-->
    </div><!--ends col-md-4 -->

	<div class="col-md-8">
		<div class="panel-group" id="accordion">

		%if sale != '':
		  <div class="panel panel-default">
		    <div class="panel-heading"><h4 class="panel-title">SALES</h4>
		    </div>
		      <div class="panel-body">

		      	<table class='table'>
		      		<thead>
		      			<th>Item</th>
		      			<th>QTY</th>
		      			<th>Price</th>
		      			<th>Subtotal</th>
		      		</thead>
		      		<tbody>
		      			%for s in ssi_list:
		      			<tr>
		      				<td>${s.item.catalogItem.manufacturer} ${s.item.catalogItem.name}</td>
		      				<td>1</td>
		      				<td>${s.item.catalogItem.listPrice}</td>
		      				<td>${s.item.catalogItem.listPrice}</td>
		      			</tr>
		      			%endfor
		      			%for c in sci_list:
		      			<tr>
		      				<td>${c.item.manufacturer} ${c.item.name}</td>
		      				<td>${c.qty}</td>
		      				<td>${c.item.listPrice}</td>
		      				<td>${c.item.listPrice * c.qty}</td>
		      			</tr>
		      			%endfor
		      		</tbody>
		      	</table>

		      </div>
		  </div>
		%endif
		%if rental != '' and rentalreturn == '':
		  <div class="panel panel-default">
		    <div class="panel-heading"><h4 class="panel-title">RENTALS</h4>
		    </div>
		      <div class="panel-body">

		      	<table class='table'>
		      		<thead>
		      			<th>Item</th>
		      			<th>Days</th>
		      			<th>Price/Day</th>
		      			<th>Subtotal</th>
		      		</thead>
		      		<tbody>
		      			%for s in ri_list:
		      			<tr>
		      				<td>${s.item.catalogItem.manufacturer} ${s.item.catalogItem.name}</td>
		      				<td>${days}</td>
		      				<td>${s.item.pricePerDay}</td>
		      				<td>${s.item.pricePerDay * days}</td>
		      			</tr>
		      			%endfor
		      		</tbody>
		      	</table>

		      </div>
		  </div>
		%endif
		%if rentalreturn != '':
		  <div class="panel panel-default">
		    <div class="panel-heading"><h4 class="panel-title">RETURNS</h4>
		    </div>
		      <div class="panel-body">

		      	<table class='table'>
		      		<thead>
		      			<th>Item</th>
		      			<th>Date Due</th>
		      			<th>Date In</th>
		      			%for f in rentalreturn.fee.all():
		      			<th>Fee</th>
		      			%endfor
		      			<th>Subtotal</th>
		      		</thead>
		      		<tbody>
		      			%for ri in ri_return_list:
		      			<tr>
		      				<td>${ri.item.catalogItem.manufacturer} ${ri.item.catalogItem.name}</td>
		      				<td>${rentalreturn.rental.dateDue}</td>
		      				<td>${rentalreturn.dateIn}</td>
		      				%for f in rentalreturn.fee.all():
			      				<td>${f.amount}</td>
		      				%endfor
		      				<td>${rentalreturn.amount}</td>
		      			</tr>
		      			%endfor
		      		</tbody>
		      	</table>

		      </div>
		  </div>	
		%endif

		%if repair != '':
		  <div class="panel panel-default">
		    <div class="panel-heading"><h4 class="panel-title">REPAIRS</h4>
		    </div>
		      <div class="panel-body">
      	      	<table class='table'>
      	      		<thead>
      	      			<th>Item</th>
      	      			<th>Hours</th>
      	      			<th>Cost</th>
      	      		</thead>
      	      		<tbody>
      	      			<tr>
      	      				<td>${repair.itemName}</td>
      	      				<td>${repair.hours}</td>
      	      				<td>${repair.amount}</td>
      	      			</tr>
      	      		</tbody>
      	      	</table>
		      </div>
		  </div>
		%endif

		</div>
		<br/>
		<h4>Email Receipt</h4>

		<form class="form-horizontal" role="form" method="POST">
		  <table class='table'>
		    <tbody>
		      %for f in form:
		      <tr>
		        <td width='99%'>${f}</td>
		        <td>
		          <button type="submit" class='btn btn-primary'>Send</button>
		        </td>
		      </tr>
		      %endfor
		    </tbody>
		  </table>
		</form>
	</div><!--ends col-md-8 -->
  </div><!--ends row-->
</div> <!-- End Container -->

</%block>

