## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="searchusers.htm" />

<%block name="content">
<% %>

  <h2>Employee Management</h2><hr/><br/>

  <table class="table table-hover">
  	<thead>
  		<tr>
        <th>Role</th>
  			<th>Username</th>
  			<th>First Name</th>
  			<th>Last Name</th>
        <th>Email</th>
  		</tr>
  	</thead>
  	<tbody>
  %for u in emps:
      <tr class="clickableRow" href="/manager/employee/${u.user.id}">
        %if u.user.is_superuser==True:
        <td><span class="label label-info">Admin</span></td>
        %elif u.user.is_staff==True:
        <td><span class="label label-success">Manager</span></td>
        %else:
        <td><span class="label label-danger">Employee</span></td>
        %endif

        <td>${u.user.username}</td>
        <td>${u.user.first_name}</td>
        <td>${u.user.last_name}</td>
        <td>${u.user.email}</td>
      </tr>

  %endfor
  	</tbody>





  </table>

  <div class="vertical_spacer6"></div>
  <div class="vertical_spacer6"></div>

  <script>
  jQuery(document).ready(function($) {
        $(".clickableRow").click(function() {
              window.document.location = $(this).attr("href");
        });
  });
  </script>

</%block>  
