## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base.htm" />

<%block name="content">
  <h2>About</h2>
  
  <p>Jacob and Julie Meyer started Meyer Photography in 1990 after they graduated in graphics design and photography respectively. </p>
  <p> Meyer Photography has been a sucessfull local shop ever since inception, but with the new trends in digital photography the Meyer's new they had move with the market.</p>
  <h4>My Stuff - Digital Life My Way.</h4>
  <p> In 2013, My Stuff was born, and since that day we have worked tirelessly to bring you the best that the digital photography world has to offer.</p>
  <p> My Stuff is just the beginning. The Meyer's have other great plans that are going to change the world of digital photography.</p>

  <div class="vertical_spacer6"></div>
  <div class="vertical_spacer6"></div>

</%block>  
