## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_template.htm" />
<%block name="main">
<% %>

<% 
from base_app.user_util import manager_check, employee_check

isEmployee = employee_check(request.user)
isManager = manager_check(request.user)

%>




<div id="carousel-example-generic" class="carousel slide " data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner "> <!-- Start Carousel Inner -->
    <div class="item active"> <!-- Start Item -->
      <img src="/static/homepage/images/e2.jpg" alt="Digital SLR">
      <div class="carousel-caption">
        <div class='box-semi'>
          <br>
          <br>
          <div class='jumbo'>Welcome!</div>
          <p class="lead">Serving you since 1990, we know how to serve our customers! MyStuff carries a large selection of cameras, accessories, lighting setups, bags and cases.</p>
          <br/>
          <ul class='list list-inline'>
            <li><a href='/locations/' class='btn btn-primary btn-lg'><span class="glyphicon glyphicon-home"></span>  Locations</a></li>
            <li><a href='/catalog/category/' class='btn btn-success btn-lg'>Shop</a></li>
          </ul>
          <br/>
        </div>
      </div>
    </div> <!-- End Item -->
    <div class="item"> <!-- Start Item -->
      <img src="/static/homepage/images/e3.jpg" alt="Rentals">
      <div class="carousel-caption">        
        <div class='box-semi'>
          <br>
          <br>
          <div class='jumbo'>Rentals</div>

          <p class="lead">Cameras, Lenses, Lighting and Accessories. <br/>
            Come into one of our locations today to rent!</p>
          <br/>
          <ul class='list list-inline'>
            <li><a href='/locations/' class='btn btn-primary btn-lg'><span class="glyphicon glyphicon-home"></span> Locations</a></li>
            <li><a href='/catalog/category/' class='btn btn-success btn-lg'>Catalog</a></li>
          </ul>
          <br/>
        </div>
      </div>
    </div> <!-- End Item -->
    <div class="item"> <!-- Start Item -->
      <img src="/static/homepage/images/e1.jpg" alt="Repairs">
      <div class="carousel-caption">
        <div class='box-semi'>
          <br>
          <br>
          <div class='jumbo'>Nikon 1 V2</div>
            <p class="lead">For creativity that has no limits.<br/>
            Exceptional speed. Exceptional performance. Exceptional price.</p>
          <br/>
          <ul class='list list-inline'>
            <li><a href='/catalog/inventory/100025' class='btn btn-primary btn-lg'>View</a></li>
            <li><a href='/catalog/category/99991' class='btn btn-success btn-lg'>Cameras</a></li>
          </ul>
          <br/>
        </div>
      </div>
    </div> <!-- End Item -->
  </div> <!-- End Carousel Inner -->
</div> <!-- End Carousel -->

<br/>

<div class='container-fluid'>
  <div class='row text-center'>
    <div class='col-md-1'></div>

    <div class='col-md-2'>
      <a href="/catalog/category/99991/">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="/static/catalog/images/products/nikon1v2.jpg" alt="Cameras">
            <br/><br/>
            <p class="lead">Cameras</p>
          </div>
        </div>
      </a>
    </div>

    <div class='col-md-2'>
      <a href="/catalog/category/99992/">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="/static/catalog/images/products/nikonlens1.jpg" alt="Lenses">
            <br/><br/>
            <p class="lead">Lenses</p>
          </div>
        </div>
      </a>
    </div>

    <div class='col-md-2'>
      <a href="/catalog/category/99993/">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="/static/catalog/images/products/light1.png" alt="Lighting">
            <br/><br/>
            <p class="lead">Lighting</p>
          </div>
        </div>
      </a>
    </div>

    <div class='col-md-2'>
      <a href="/catalog/category/99994/">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="/static/catalog/images/products/tripod1.jpg" alt="Tripod">
            <br/><br/>
            <p class="lead">Tripods</p>
          </div>
        </div>
      </a>
    </div>

    <div class='col-md-2'>
      <a href="/catalog/category/99995/">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="/static/catalog/images/products/bag1.jpg" alt="Bags & Cases">
            <br/><br/>
            <p class="lead">Cases</p>
          </div>
        </div>
      </a>
    </div>

    <div class='col-md-1'></div>
  </div>


  <div class="vertical_spacer6"></div>

<!-- START FEATURED PRODUCTS -->
  <div class='row '>
    <div class='col-md-1'></div>
    <div class='col-md-10'> <!-- Open Column -->
      <div class="panel panel-primary"> <!-- Featured Products Panel -->
        <div class="panel-heading"><strong>Featured Products</strong></div>
        <div class="panel-body text-center"> <!-- Featured Products Panel Body -->
          <br/>

          <div class='container-fluid'> <!-- Feat Products Container -->
            <div class='row'> <!-- Feat Products Row -->

              <div class='col-md-3'>
                <a href="/catalog/inventory/100022/">
                  <div class="panel panel-default">
                    <div class="panel-body feat-product">
                      <img src="/static/catalog/images/products/canont5.jpg" alt="Canon Eos T5">
                      <br/><br/>
                      <p class='lead'>Canon Eos T5</p>
                      <p class='black'>The EOS Rebel T5 has an 18.0 Megapixel CMOS...</p>
                    </div>
                  </div>
                </a>
              </div>

              <div class='col-md-3'>
                <a href="/catalog/inventory/100027/">
                  <div class="panel panel-default">
                    <div class="panel-body feat-product">
                      <img class='xsimg' src="/static/catalog/images/products/nikond4.jpg" alt="Bags & Cases">
                      <br/><br/>
                      <p class="lead">Nikon D4</p>
                      This new flagship D-SLR offers speed and accuracy...
                    </div>
                  </div>
                </a>  
              </div>

              <div class='col-md-3'>
                <a href="/catalog/inventory/100025/">
                  <div class="panel panel-default">
                    <div class="panel-body feat-product">
                      <img src="/static/catalog/images/products/nikon1v2.jpg" alt="Nikon 1 v2">
                      <br/><br/>
                      <p class="lead">Nikon 1 v2</p>
                      Introducing Nikon 1 V2, with the exceptional speed...
                    </div>
                  </div>
                </a>
              </div>

              <div class='col-md-3'>
                <a href="/catalog/inventory/100026/">
                  <div class="panel panel-default">
                    <div class="panel-body feat-product">
                      <img src="/static/catalog/images/products/nikond50.jpg" alt="Bags & Cases">
                      <br/><br/>
                      <p class="lead">Nikon D50</p>
                      Nikon's D50 interchangeable-lens digital SLR camera...
                    </div>
                  </div>
                </a>
              </div>

            </div> <!-- End Feat Products Row -->
          </div> <!-- End Feat Products Container -->

        </div> <!-- End Featured Products Panel Body -->
      </div> <!-- End Featured Products Panel -->
    </div> <!-- Close Column -->
    <div class='col-md-1'></div>
</div>
<!-- END FEATURED PRODUCTS -->



<div class="vertical_spacer6"></div>
<div class="vertical_spacer6"></div>
<div class="vertical_spacer6"></div>
<div class="vertical_spacer6"></div>

</%block>  

<%block name='top'></%block>
