## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_template.htm" />


<%block name="main">
<div class="vertical_spacer6"></div>
<div class="vertical_spacer6"></div>



<div class="background-image">
<div class="custom1">

  <h1>Inventory Management</h1>
  <div class="vertical_spacer6"></div>
  <div class="vertical_spacer6"></div>
  <a href="/manager/searchinventory/" class="btn btn-primary btn-lg">Inventory</a>
  <a href="/manager/newcatalogitem/" class="btn btn-success btn-lg">New Catalog Item</a>
  <a href="/manager/newinventoryitem/" class="btn btn-success btn-lg">New Store Item</a>


</div>
</div>

<div class="vertical_spacer6"></div>
<div class="vertical_spacer6"></div>
<div class="vertical_spacer6"></div>
<div class="vertical_spacer6"></div>
<div class="vertical_spacer6"></div>
</%block>  
