## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_template.htm" />

<%block name="main">

  <div class="content"> 
    <div class="row">
      <div class="col-md-3">
        <div class="container"> 

          <%block name="left_side">
            <div class="container bs-docs-container">
              <div class="row">


                <div class="col-md-3">
                  <div class="bs-sidebar hidden-print" role="complementary">
                    <ul class="nav bs-sidenav">
                    <div class="btn-group">
                      <button class="btn btn-default btn dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="lead">Inventory Mgmt</span> <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="/searchinventory/"><span class="glyphicon glyphicon-search"></span> Search </a>
                                <a href="/delete/" data-toggle="modal" data-target="#DeleteItem"><span class="glyphicon glyphicon-trash"></span> Delete </a>
                                <a href="/save/" data-toggle="modal" data-target="#CatalogItem"><span class="glyphicon glyphicon-star"></span> New </a>
                                </li>
                            </ul>
                      </ul>
                    </div>

                        <!-- Modal -->
                                <div class="modal fade" id="CatalogItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">New Product</h4>
                                      </div>
                                      <div class="modal-body">

                                      <form role="form">
                                              <p>GUID: 456</p>
                                              <div class="form-group">
                                                <label for="exampleInputPassword1">Product Name:</label>
                                                <input type="password" class="form-control" id="exampleInputName" placeholder="Ex. Nikon 123">
                                              </div>
                                              <div class="form-group">
                                                <label for="exampleInputPassword1">Wholesale Price</label>
                                                <input type="password" class="form-control" id="exampleInputWholesalePrice" placeholder="Ex. $799.00">
                                              </div>
                                              <div class="form-group">
                                                <label for="exampleInputPassword1">Quantity In-Stock</label>
                                                <input type="password" class="form-control" id="exampleInputWholesalePrice" placeholder="Ex. 12">
                                              </div>
                                              <div class="checkbox">
                                                <label>
                                                  <input type="checkbox"> Taxable?
                                                </label>
                                              </div>
                                            </form>

                                     
                                        
                                      </div>
                                      <div class="modal-footer">

                                        <!-- Delete Rental Item -->
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Save & Close</button>

                                        
                                
                                      </div>
                                    </div><!-- /.modal-content -->
                                  </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->

                                <!-- Modal -->
                                <div class="modal fade" id="DeleteItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Inventory Deleted</h4>
                                      </div>
                                      <div class="modal-body">

                                      The Nikon 1 V2 Camera has been deleted.

                                     
                                        
                                      </div>
                                      <div class="modal-footer">

                                        <!-- Delete Rental Item -->
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Retrieve Deleted Item from Database</button>
                                        
                                      </div>
                                    </div><!-- /.modal-content -->
                                  </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->









                  </div>
                </div>

                <div class="col-md-9" role="main">

                  <%block name="content">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#Product" data-toggle="tab"><strong>In-Stock</strong></a></li>
                    <li><a href="#Rentals" data-toggle="tab"><strong>Rental</strong></a></li>
                    <li><a href="#Catalog" data-toggle="tab"><strong>Catalog</strong></a></li>
                  </ul>

                  <div class="tab-content">
                    <div class="tab-pane active" id="Product">
                        Product Class

                    </div>
                    <div class="tab-pane" id="Catalog">
                        Catalog Class

                    </div>

                    <div class="tab-pane" id="Rentals">
                        Rental Class

                    </div>
                    <script>
                        $(function () {
                            $('#myTab a:last').tab('show')
                        })
                    </script>
                  </%block>   
                  
                </div>
              </div>  
            </div>
          </%block> 

        </div>
      </div>  
    </div>
  </div>
</%block>



                  