## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_template.htm" />

<%block name="main">

  <div class="content"> 
    <div class="row">
      <div class="col-md-2">
        <div class="container"> 

          <%block name="left_side">
            <div class="container bs-docs-container">
              <div class="row">

                <div class="col-md-2 ">
                  <div class="bs-sidebar hidden-print" role="complementary">
                    <ul class="nav bs-sidenav">
                      <li>
                        <a href="/about/">About Us</a>
                      </li>
                      <li>
                        <a href="/contact/">Contact Us</a>
                      </li>
                      <li>
                        <a href="/terms/">Terms <span class="badge">Updated</span></a>
                      </li>                        
                    </ul>
                  </div>
                </div>


                <div class="col-md-9" role="main">

                  <%block name="content">
                    Site content goes here in sub-templates.
                  </%block>   
                  
                </div>
              </div>  
            </div>
          </%block> 

        </div>
      </div>  
    </div>
  </div>
</%block>